<!doctype html>
<html lang="en">
	<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/styles/main.css">
    <% include ./layout/header.ejs %>
    <body>
        <% include ./layout/navigation.ejs%>
        <h1><%=title%></h1>

        <% include ./layout/footer.ejs %>
    </body>
</html>
