<!doctype html>
<html lang="en">
    <% include ./layout/header.ejs %>
    <body>
        <% include ./layout/navigation.ejs%>
        <h1><%=title%></h1>

        <% include ./layout/footer.ejs %>
    </body>
</html>
