<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="https://geneo.in/img/logo-geneo.png" class="footer-brand-img"/>
			</div>
			<div class="col-md-4">
				<div class="row">
					<div class="col-md-6 my-1"><a href="#" class="footer-link">About</a></div>
					<div class="col-md-6 my-1"><a href="#" class="footer-link">Features</a></div>
				</div>
				<div class="row">
					<div class="col-md-6 my-1"><a href="#" class="footer-link">Download</a></div>
					<div class="col-md-6 my-1"><a href="#" class="footer-link">Back to Top</a></div>
				</div>
			</div>
			<div class="col-md-4">
				<button class="footer-btn btn" class="py-2">Contact Us</button>
			</div>
		</div>
		<div class="row mt-5">
			<div class="col-md-8">
				<p>
					<a href="#">Privacy Policy</a> | <a href="#">Disclaimer</a><br/>
					Designed and Developed by IL&amp;FS Education Copyright © 2017. All Rights Reserved.
				</p>
			</div>
			<div class="col-md-4">
				<span class="footer-social">
					<a href="#" class="mx-2 footer-social-icon"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
					<a href="#" class="mx-2 footer-social-icon"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
					<a href="#" class="mx-2 footer-social-icon"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></a>
					<a href="#" class="mx-2 footer-social-icon"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
					<a href="#" class="mx-2 footer-social-icon"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a>
				</span>
			</div>
		</div>
	</div>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/c9aa6b3951.js"></script>